@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-jetbrains-mono: 'JetBrains Mono', monospace;
}

body {
  font-family: var(--font-jetbrains-mono), monospace;
  background-color: #E6EDF9;
  color: #261F1A;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
